<form action="/users/login" method="post">
    Логин: <input type="text" name="username"/>

    Пароль: <input type="password" name="password"/>
    <input type="submit" value="Войти" name="login"/>

</form>
<br/>
<a href='/' class="btn btn-primary">Home</a>
