<h3>{{text}}</h3>
<a href='/' class="btn btn-primary">Home</a> {{#if auth}} <a href='/users/logout'
                                                             class="btn btn-primary">Logout</a> {{else}} <a
        href='/users/registration' class="btn btn-primary">Registration</a> <a href='/entering' class="btn btn-primary">Login</a> {{/if}}
