<form method="post" action="/users/isreg">
    Ваше Имя: <input id="name" type="text" name="name"/><br/>
    Логин: <input id="username" type="text" name="username"/><br/>
    Пароль: <input id="pass" type="password" name="password"/><br/>
    Подтверждение: <input id="re_pass" type="password" name="password2"/><br/>
    Email: <input id="mail" type="text" name="mail"/><br/>
    <input type="submit" name="GO" class="btn btn-warning" value="Регистрация">
</form>
<br/>
<a href='/' class="btn btn-primary">Home</a>

